/*Common styles*/

     :root {
        --text-usual: 'Montserrat', sans-serif;
        --text-unusual: 'Dancing Script', cursive;
        --color-white: #ffffff;
        --color-black: #222f3e;
        --color-yellow: #feca57;
        --color-grey: #576574;
        --color-grey-light: #dfe6e9;
    }
    /*Global*/

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-size: 16px;
        line-height: 1.7;
        color: var(--color-black);
    }

    section {
        padding: 60px 0;
    }
    /*Navigation*/

    .navigation {
        padding: 0 auto;
        margin: 0 auto;
        background-image: url("https://images.pexels.com/photos/301703/pexels-photo-301703.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
        background-color: transparent;
        background-position: center top;
        background-size: cover;
        padding: 0 0 100px 0;
    }

    .row {
        text-align: center;
        display: flex;
    }

    .navigation ul {
        list-style-type: none;
        font-family: var(--text-usual);
        color: var(--color-white);
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    .navigation li {
        position: relative;
    }

    .navigation p {
        color: var(--color-yellow);
        font-family: var(--text-unusual);
        font-size: 40px;
        text-align: left;
    }

    .first-line {
        font-family: var(--text-unusual);
        color: var(--color-white);
        font-size: 48px;
        text-align: center;
        margin-top: 10px;
    }

    .second-line {
        font-family: var(--text-usual);
        color: var(--color-white);
        font-size: 50px;
        text-align: center;
        margin-top: 5px;
    }

    .btn {
        display: inline-block;
        min-width: 160px;
        margin: 24px auto 0 auto;
        padding: 16px;
        border-radius: 5px;
        font-family: var(--text-usual);
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-width: 0;
        border-style: solid;
        background-position: 100% 0;
        background-size: 300%;
        color: var(--color-white);
        background: var(--color-yellow);
        position: relative;
        bottom: 50px;
        right: 0;
    }
    /*Services*/

    .section-title {
        color: var(--color-black);
        text-align: center;
        font-size: 48px;
        font-family: var(--text-usual);
        margin: 0 auto;
    }

    .section-subtitle {
        color: var(--color-grey);
        text-align: center;
        font-size: 16px;
        font-family: var(--text-unusual);
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box1,
    .box2,
    .box3 {
        flex: 0 0 33.333%;
        position: relative;
    }

    .boxes i {
        color: var(--color-yellow);
        text-align: center;
        border: 2px solid var(--color-yellow);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        line-height: 75px;
    }

    .box-title {
        text-align: center;
        font-family: var(--text-usual);
        font-size: 15px;
        margin: 0 0 5px 0;
    }

    .boxes p {
        font-family: var(--text-usual);
        color: var(--color-grey);
        font-size: 10px;
    }
    /*Portfolio*/

    .ourportfolio {
        background-color: var(--color-grey-light);
    }

    .box-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        flex: 0 0 33.33%;
        position: relative;
        min-height: 300px;
        margin-bottom: 96px;
    }

    .box-img {
        max-width: 350px;
        height: 200px;
        width: 100%;
    }

    .description {
        color: var(--color-grey);
        font-family: var(--text-unusual);
        text-align: center;
        margin: 0 0 10px 0;
        padding-bottom: 20px;
    }

    .text {
        background-color: var(--color-white);
    }

    .text>.box-title {
        padding-top: 10px;
        padding-bottom: 0;
    }
    /*Footer*/

    .fab {
        font-size: 25px;
        color: var(--color-black);
    }

    footer ul li {
        display: inline-block;
        list-style-type: none;
        font-size: 0;
        margin: 12px 5px;
    }

    footer ul {
        text-align: center;
    }

    footer p {
        font-family: var(--text-usual);
        font-size: 10px;
        color: var(--color-grey);
        margin: 30px 20px;
        text-align: left;
    }
    
    .fa-twitter {
        color: var(--color-white);
        background-color: var(--color-black);
        border-radius: 50%;
        text-align: center;
        font-size: 23px;
        width: 25px;
        height: 25px;
    }
